.faq {
  display: grid;
  text-align: center;
}

.question {
  font-family: "Bangers";
  font-size: 35px;
  color: yellow;
  padding: 5px;
  margin-top: 30px;
  letter-spacing: 2px;
}

.answer {
  font-family: "Bangers";
  font-size: 25px;
  color: white;
  padding: 5px;
  /* margin-left: 50px; */
}
