.trainerTitle {
  font-family: "Bangers";
  font-weight: bold;
  font-size: 50px;
  letter-spacing: 2px;
  text-align: center;
  color: yellow;
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}

.trainerCard {
  padding: 10px;
  border: yellow solid 1px;
  border-radius: 10px;
  width: 120px;
  height: 150px;
}

.trainerImg {
  width: 100px;
  border-radius: 40px;
  padding: 10px;
}

.trainerName {
  color: white;
  text-align: center;
  padding-right: 10px;
}

.trainerAge {
  color: white;
}

.trainerContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-around;
}

.modal {
  background: rgba(0, 0, 0, 0.7);
  filter: blur(40px);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
}

.animate {
  display: flex;
  flex-direction: row;
  border: solid 1px yellow;
  border-radius: 15px;
  position: absolute;
  background-color: #272a30;
  z-index: 11;
}

.motionpic {
  width: 300px;
  border-radius: 240px;
  padding: 40px;
}

.motiontop {
  border-left: solid 1px yellow;
  padding: 2px;
}

.motionhead {
  color: white;
  font-family: "Bangers";
  font-weight: bold;
  font-size: 30px;
  border-bottom: solid 1px white;
  text-shadow: 0 0 1px rgb(0, 0, 0), 0 0 1px black, 0 0 1px black, 0 0 1px black;
}

.motionrow {
  font-family: "Bangers";
  font-style: italic;
  color: rgb(196, 195, 195);
  font-size: 15px;
}

.motiondetails {
  color: rgb(182, 182, 29);
  font-size: 15px;
  border-bottom: solid 1px white;
}

/* .motionadd {
  border-radius: 20px;
  padding: 1px 6px;
  background-color: blue;
  color: white;
  font-size: 14px;
} */

.motion-button {
  border: white 1px solid;
  border-radius: 15px;
  width: 20px;
  height: 20px;
  font-weight: bold;
  font-size: small;
  color: yellow;
}
